@{
    ViewBag.Title = "About";
}

<body>
    @*<section class="bg-success py-5">
        <div class="container"*@>
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Về chúng tôi</h1>
                    <p class="h4">
                        Các thiết bị điện tử thì không thể thiếu trong đời sống hằng ngày đặc biệt là điện thoại . 
                        Để giải quyết vấn đề đó chúng tôi đã công khai trang web bán điện thoại của PALUNA. PALUNA cung cấp những mẫu điện thoại giá rẻ dành cho học sinh sinh viên.
                        Bảo đảm chính hãng giá rẻ bất ngờ

                    </p>
                </div>
                <div class="col-md-4">
                    <img src="https://i.ibb.co/w76v8QP/2.png" width="200" height="200">
                </div>
            </div>
        @*</div>
    </section>*@
    <h3>Mọi thắc mắc xin vui lòng liên hện với chúng tôi để được hỗ trợ </h3>
    <a class="h3" href="~/Home/Contact">Thông tin liên hệ</a>
</body>
