@model IEnumerable<PALUNA.Models.LoaiSanPham>
<ul class="nav navbar-nav font-nav">
    @if (Model != null && Model.Any())
    {
        foreach (var loaiSanPham in Model)
        {
            <li>
                <a href="/home?type=@loaiSanPham.Name" title="@loaiSanPham.Name">
                    @*<span><i class=" glyphicon-music "></i></span>*@
                    <span>@loaiSanPham.Name.ToUpper()</span>

                </a>
                @*<span><i class=" glyphicon-music "></i> </span>
                    <br />
                    <span>@Html.ActionLink("Trang chủ", "Index", "Home") </span>*@
            </li>
        }

    }

    <li>
        <a href="/Home/Contact" title="LIENHE">
            @*<span><i class="fas fa-headphones"></i></span>*@
            <span>LIÊN HỆ</span>

        </a>
    </li>
    <li>
        <a href="/Home/About" title="THONGTIN">
            @*<span><i class=" glyphicon-music "></i></span>*@
            <span>THÔNG TIN</span>

        </a>
    </li>
</ul>